<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <p class="govuk-heading-m">Details</p>
      <%= form_with(model: [:admin, content_page], data: { turbo: false }, local: true, builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |form| %>
        <%= form.govuk_error_summary order: %i[title markdown position]  %>

          <div data-controller='character-counter' data-character-counter-countdown-value='true'>
            <%= form.govuk_text_field :title, label: {text: "Heading"}, :class => 'govuk-input govuk-!-width-three-quarters', disabled: (@content_page.title && !content_page.parent_id), 'data-character-counter-target': 'input', maxlength: '10000' %>
            <p>There are <strong data-character-counter-target='counter' ></strong> remaining characters in the title.</p>
          </div>

          <!-- This text_area is not rendered with gov_text_field because it needs to
               set its own id, and the GOVUKDesignSystemFormBuilder hijacks it -->
          <div class="govuk-form-group gem-c-govspeak">

            <label id="intro-hint" for="intro-editor" class="govuk-label">
              Introduction
            </label>
            <div data-controller='character-counter' data-character-counter-countdown-value='true'>
              <%= form.text_area :intro, id: 'intro-editor', rows: 8, cols: 35, class: 'govuk-input govuk-textarea', 'data-character-counter-target': 'input', maxlength: '10000' %>
              <p>There are <strong data-character-counter-target='counter' ></strong> remaining characters in the introduction.</p>
            </div>

            <label id="content-list-hint" for="content-list-editor" class="govuk-label">
              Table of contents
            </label>
            <div data-controller='character-counter' data-character-counter-countdown-value='true'>
              <%= form.text_area :content_list, id: 'content-list-editor', rows: 8, cols: 35, class: 'govuk-input govuk-textarea', 'data-character-counter-target': 'input', maxlength: '10000' %>
              <p>There are <strong data-character-counter-target='counter' ></strong> remaining characters in the content list.</p>
            </div>

            <label id="markdown-hint" for="markdown-editor" class="govuk-label">
              Content
            </label>

            <% if @content_page&.errors[:markdown].present? %>
              <span class="govuk-error-message"><%= @content_page.errors[:markdown][0] %></span>
            <% end %>

            <div data-controller='character-counter' data-character-counter-countdown-value='true'>
              <%= form.text_area :markdown, :id => 'markdown-editor', :rows => 20, :cols => 35,  :class => govuk_input_classes(:textarea, errors: @content_page.errors[:markdown]), 'data-character-counter-target': 'input', maxlength: '30000' %>
              <p>There are <strong data-character-counter-target='counter' ></strong> remaining characters in the markdown.</p>
            </div>

            <%= form.hidden_field :parent_id, id: "parent_id" %>
            <%= form.govuk_text_field :position, label: {text: "Position"}%>

            <div data-controller='character-counter' data-character-counter-countdown-value='true'>
              <%= form.govuk_text_area :description, label: {text: "Meta Description"}, 'data-character-counter-target': 'input', maxlength: '10000' %>
              <p>There are <strong data-character-counter-target='counter' ></strong> remaining characters in the description.</p>
            </div>
          </div>

        <div class="fixed-footer">
          <%= form.govuk_submit "Save" %>
          <% if action_name === "edit" || action_name === "update" %>
            <%= link_to 'Cancel', versions_admin_content_page_path(content_page), data: { confirm: "Any changes will be lost, are you sure ?" }, class: "govuk-link" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="govuk-grid-column-one-half">
        <p class="govuk-heading-m">Preview</p>
        <div id='intro-render' class='gem-c-govspeak'>
          <%= translate_markdown(content_page.intro) %>
        </div>
        <div id='content-list-render' class='gem-c-govspeak'>
          <%= translate_markdown(content_page.content_list) %>
        </div>
        <div id='markdown-render' class='gem-c-govspeak govuk-!-margin-top-5'>
          <%= translate_markdown(content_page.markdown) %>
        </div>
    </div>
  </div>
</div>
