<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <p class="govuk-heading-m">Details</p>
      <%= form_with(model: [:admin, content_page], local: true, builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |form| %>
        <%= form.govuk_error_summary order: %i[title markdown position]  %>

        <%= form.govuk_text_field :title, label: {text: "Heading"}, :class => 'govuk-input govuk-!-width-three-quarters', :disabled => (@content_page.title && !@content_page.parent_id)%>

        <%= form.govuk_text_area :intro, label: { text: "Introduction" } %>

        <!-- This text_area is not rendered with gov_text_field because it needs to
             set its own id, and the GOVUKDesignSystemFormBuilder hijacks it -->
        <% markdown_class = 'govuk-form-group--error' if @content_page&.errors[:markdown].present? %> 
        
        <div class="govuk-form-group gem-c-govspeak govuk-form-group <%= markdown_class %>" id="content-block-markdown-field-error">

          <label id="content-list-hint" for="content-list-editor" class="govuk-label">
            Table of contents
          </label>
          <%= form.text_area :content_list, id: 'content-list-editor', rows: 8, cols: 35, class: 'govuk-input govuk-textarea' %>
          
          <label id="markdown-hint" for="markdown-editor" class="govuk-label">
            Content - Markdown for the page
          </label>

          <% if @content_page&.errors[:markdown].present? %>
            <span class="govuk-error-message"><%= content_page.errors[:markdown][0] %></span>
          <% end %>

          <%= form.text_area :markdown, id: 'markdown-editor', class: govuk_input_classes(:textarea, errors: @content_page.errors[:markdown]) %>

          <%= form.hidden_field :parent_id, id: "parent_id" %>
          <%= form.govuk_text_field :position, label: {text: "Position"}%>
          <%= form.govuk_text_area :description, label: {text: "Meta Description"} %>
        </div>
        <div class="fixed-footer">
          <%= form.govuk_submit "Save" %>
          <% if action_name === "edit" || action_name === "update" %>
            <%= link_to 'Cancel', versions_admin_content_page_path(content_page), data: { confirm: "Any changes will be lost, are you sure ?" }, class: "govuk-link" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="govuk-grid-column-one-half">
        <p class="govuk-heading-m">Preview</p>
        <div class='gem-c-govspeak'>
          <%= translate_markdown(content_page.intro) %>
        </div>
        <div id='content-list-render' class='gem-c-govspeak'>
          <%= translate_markdown(content_page.content_list) %>
        </div>
        <div id='markdown-render' class='gem-c-govspeak govuk-!-margin-top-5'>
          <%= translate_markdown(content_page.markdown) %>
        </div>
    </div>
  </div>
</div>
