<p>
  <strong>Title:</strong>
  <%= @content_page.title %>
</p>

<%= translate_markdown(@content_page.intro) %>

<p>
  <strong>Content (Govspeak):</strong>
  <%= @content_page.markdown %>
</p>

<%= link_to 'Edit', edit_admin_content_page_path(@content_page) %> |
<%= link_to 'Back', admin_content_pages_path %>
