<%= form_with(model: [:admin, content_asset], local: true, builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |form| %>
  <% if content_asset.errors.any? %>
    <div id="error_explanation">
      <h2 class="govuk-heading-m"><%= pluralize(content_asset.errors.count, "error") %> prohibited this asset from being saved:</h2>
      <ul class="govuk-list govuk-list--bullet">
        <% content_asset.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="govuk-form-group">
    <%= form.govuk_text_field :title, width: 'three-quarters' %>
    <%= form.govuk_text_field :alt_text, label: { text: "Alternate text" }, width: 'three-quarters' %>
    <%= form.govuk_collection_radio_buttons :content_page_id, @folder_options, :id, :title, legend: { text: 'Section title' } %>
    <%= form.govuk_file_field :asset_file, label: { text: "Asset file" }, width: 'one-half', hint: { text: "Upload an asset file less than 2MB.</br>Valid extensions are PDF, DOC, DOCX, XLS, XLSX, JPG, JPEG, PNG".html_safe} %>
    <p class="govuk-body" id="content_asset_file_size"></p>
  </div>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <%= form.govuk_submit "Submit" %>
    </div>
  </div>

<% end %>

<%= link_to 'GOV.UK image upload guidelines', 'https://design-system.service.gov.uk/styles/images/', target: "_blank" %>
