<h1  class="govuk-heading-l">Assets</h1>
<%= govuk_button_link_to 'Add asset', new_admin_content_asset_path, class: "govuk-button" %>

<% get_all_content_pages %>
<%= govuk_accordion do |accordion|
  get_all_content_pages.each do |content_page|
    accordion.section(heading_text: content_page.title) do %>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Image</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Name</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Action</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <% @content_assets.each do |content_asset| %>
            <% if content_asset.page_name.to_i == content_page.position %>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><%= image_tag(url_for(content_asset.asset_file), class: 'govuk-!-width-full') %></td>
                <td class="govuk-table__cell" ><%= content_asset.title %></td>
                <td class="govuk-table__cell">
                  <%= govuk_button_link_to 'Edit', edit_admin_content_asset_path(content_asset), secondary: true %>
                  <%= button_tag "Copy to clipboard", type: 'button', class: "govuk-button govuk-button--secondary", onClick: "navigator.clipboard.writeText('#{polymorphic_url(content_asset.asset_file)}')" %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
<% end %>

<br>
