<h1  class="govuk-heading-l">Assets</h1>
<%= govuk_button_link_to 'Add asset', new_admin_content_asset_path, class: "govuk-button" %>

<%= govuk_accordion do |accordion|
  ContentPage.top_level.order_by_position.each do |content_page|
    accordion.section(heading_text: content_page.title) do %>
      <table class="govuk-table">
        <%= render partial: 'table_header' %>
        <tbody class="govuk-table__body">
          <% content_assets = content_page.content_assets %>
          <% if content_assets %>
            <% content_assets.each do |content_asset|%>
              <%= render partial: 'table_body', locals: { content_asset: content_asset } %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
  <%= accordion.section(heading_text: "Other") do %>
    <table class="govuk-table">
      <%= render partial: 'table_header' %>
      <tbody class="govuk-table__body">
        <% @content_assets.each do |content_asset| if content_asset.content_page == nil %>
          <%= render partial: 'table_body', locals: { content_asset: content_asset } %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<br>
