%tr.govuk-table__row[article]
  %td.govuk-table__cell
    = article.description
  %td.govuk-table__cell
    - if article.published?
      = article.published_at&.to_s(:day_month_year)
    - elsif article.unpublished?
      = article.unpublished_at&.to_s(:day_month_year)
    - else
      = article.created_at&.to_s(:day_month_year)
  %td.govuk-table__cell
    = link_to('Edit', edit_admin_article_path(article), class: "govuk-!-font-size-14", id: dom_id(article, :edit)) if policy(article).edit?
    = link_to('Preview and unpublish', admin_article_path(article), class: "govuk-!-font-size-14", id: dom_id(article, :unpublish)) if policy(article).unpublish?
    = link_to('Preview and publish', admin_article_path(article), class: "govuk-!-font-size-14", id: dom_id(article, :publish)) if policy(article).publish?
    = link_to('Delete', admin_article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "govuk-!-font-size-14", id: dom_id(article, :delete)) if policy(article).destroy?
  %td.govuk-table__cell
    = article.author