= form_with(model: [:admin, article], url: article.new_record? ? admin_articles_path : admin_article_path(article), local: true, builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |form|
  = form.govuk_error_summary order: %i[title description markdown featured_image thumbnail_image]
  = form.govuk_text_field :title 
  = form.govuk_text_field :description
  = form.govuk_text_area :markdown
  = form.govuk_fieldset legend: { text: "Images" } do
    - if article && article.featured_image.attached?
      .image-wrapper
        = image_tag(url_for(article.featured_image), width: "200px")
    = form.govuk_file_field :featured_image, label: { text: "Featured" }, width: "one-half", hint: { text: "Upload a featured image file less than 2MB.</br>Valid extensions are JPG, JPEG, PNG".html_safe}
    = form.govuk_text_field :featured_alt_text, label: { text: "Featured image alternate text"}
    - if article && article.thumbnail_image.attached?
      .image-wrapper
        = image_tag(url_for(article.thumbnail_image), width: "200px")
    = form.govuk_file_field :thumbnail_image, label: { text: "Thumbnail" }, width: "one-half", hint: { text: "Upload a thumbnail image file less than 2MB.</br>Valid extensions are JPG, JPEG, PNG".html_safe}
    = form.govuk_text_field :thumbnail_alt_text, label: { text: "Thumbnail image alternate text"}
  .govuk-button-group
    = link_to "Cancel", admin_articles_path, class: "govuk-button govuk-button--secondary"
    = link_to('Preview', admin_article_path(article), class: "govuk-button govuk-button--secondary", id: dom_id(article, :preview), target: "_blank") if policy(article).preview?
    = form.submit "Save", :class => "govuk-button"
