= link_to "Add article", new_admin_article_path, id: 'add-article', class: 'govuk-button'
%h1.govuk-heading-xl
  Articles

= render GovukComponent::TabComponent.new(title: 'Articles') do |component|
  = component.tab(label: "Published") do
    %table.govuk-table
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header{scope: 'col', class: 'govuk-!-width-two-thirds'}
            Description 
          %th.govuk-table__header{scope: 'col'}
      %tbody.govuk-table__body
        = render partial: 'article', collection: @articles.published
  = component.tab(label: "Draft") do
    %table.govuk-table
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header{scope: 'col', class: 'govuk-!-width-two-thirds'}
            Description 
          %th.govuk-table__header{scope: 'col'}
      %tbody.govuk-table__body
        = render partial: 'article', collection: @articles.draft
  = component.tab(label: "Unpublished") do
    %table.govuk-table
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header{scope: 'col', class: 'govuk-!-width-two-thirds'}
            Description 
          %th.govuk-table__header{scope: 'col'}
      %tbody.govuk-table__body
        = render partial: 'article', collection: @articles.unpublished