= link_to "Add article", new_admin_article_path, id: 'add-article', class: 'govuk-button'
%h1.govuk-heading-xl
  Articles

= render GovukComponent::TabComponent.new(title: 'Articles') do |component|
  = component.with_tab(label: "Published") do
    %table.govuk-table
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header{scope: 'col', class: 'govuk-!-width-one-quarter'}
            = link_to("Description", anchor: "published", sort: "description")
          %th.govuk-table__header{scope: 'col', class: 'govuk-!-width-one-quarter'}
            = link_to("Published", anchor: "published", sort: "published_at")
          %th.govuk-table__header{scope: 'col'}
          %th.govuk-table__header{scope: 'col', class: 'govuk-!-width-one-quarter'}
            Author 
      %tbody.govuk-table__body
        = render partial: 'article', collection: @articles.published
  = component.with_tab(label: "Draft") do
    %table.govuk-table
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header{scope: 'col', class: 'govuk-!-width-one-quarter'}
            = link_to("Description", anchor: "draft", sort: "description")
          %th.govuk-table__header{scope: 'col', class: 'govuk-!-width-one-quarter'}
            = link_to("Created", anchor: "draft", sort: "created_at")
          %th.govuk-table__header{scope: 'col'}
          %th.govuk-table__header{scope: 'col', class: 'govuk-!-width-one-quarter'}
            Author
      %tbody.govuk-table__body
        = render partial: 'article', collection: @articles.draft
  = component.with_tab(label: "Unpublished") do
    %table.govuk-table
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header{scope: 'col', class: 'govuk-!-width-one-quarter'}
            = link_to("Description", anchor: "unpublished", sort: "description")
          %th.govuk-table__header{scope: 'col', class: 'govuk-!-width-one-quarter'}
            = link_to("Unpublished", anchor: "unpublished", sort: "unpublished_at")
          %th.govuk-table__header{scope: 'col'}
          %th.govuk-table__header{scope: 'col', class: 'govuk-!-width-one-quarter'}
            Author 
      %tbody.govuk-table__body
        = render partial: 'article', collection: @articles.unpublished
