= link_to "Back", admin_articles_path, class: 'govuk-back-link'
%strong.govuk-tag 
  Preview

%h1.govuk-heading-xl
  = @article.title

%div 
  = image_tag(url_for(@article.featured_image), width: "500px") if @article.featured_image.attached?

.govuk-body
  = translate_and_sanitize(@article.markdown)

.fixed-footer
  .govuk-button-group
    = link_to "Cancel", admin_articles_path, class: 'govuk-button govuk-button--secondary'
    - if policy(@article).publish?
      = link_to('Publish', publish_admin_article_path(@article), method: :post, class: "govuk-button", id: dom_id(@article, :publish))
    - if policy(@article).unpublish?
      = link_to('Unpublish', unpublish_admin_article_path(@article), method: :post, class: "govuk-button", id: dom_id(@article, :unpublish))