= link_to "Back", admin_articles_path, class: 'govuk-back-link'
%strong.govuk-tag 
  Preview

%h1.govuk-heading-xl
  = @article.title

= feature_image(page: @article)

.govuk-body.gem-c-govspeak
  = translate_markdown(@article.markdown)

.fixed-footer
  .govuk-button-group
    - if policy(@article).publish?
      = link_to('Publish', publish_admin_article_path(@article), method: :post, class: "govuk-button govuk-button--primary", id: dom_id(@article, :publish))
      = link_to "Edit", edit_admin_article_path, class: 'govuk-button govuk-button--secondary'
    - elsif policy(@article).unpublish?
      = link_to('Unpublish', unpublish_admin_article_path(@article), method: :post, class: "govuk-button govuk-button--primary", id: dom_id(@article, :unpublish))
      = link_to "Edit", edit_admin_article_path, class: 'govuk-button govuk-button--secondary'
    - else 
      = link_to "Edit", edit_admin_article_path, class: 'govuk-button govuk-button--primary'
    = link_to "Cancel", admin_articles_path, class: 'govuk-button govuk-button--secondary'