<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
  <%= @article.title %>
</h1>
<!-- TODO: Author & Date -->
<p class="govuk-body govuk-!-margin-bottom-3">
  by John Smith, 12 September 2021
</p>
<!-- TODO: Organisation -->
<p class="govuk-body govuk-!-margin-bottom-3">
  NSPCC
</p>
<!-- TODO: Social Media Links -->
<p class="govuk-body govuk-!-margin-bottom-3">
  (Social Media Links)
</p>
<div>
  <%= image_tag(url_for(@article.featured_image), width: "500px") if @article.featured_image.attached? %>
</div>
<!-- 
<h2 class="govuk-heading-l">
  <%= @article.description %>
</h2>
-->
<p class="govuk-body">
  <%= translate_and_sanitize(@article.markdown) %>
</p>
<div class="govuk-width-container govuk-!-padding-top-8 govuk-!-margin-bottom-7">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%== insert_block('other_useful_resources') %>
    </div>
  </div>
</div>

