<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <p class="govuk-heading-m">Details</p>
      <%= form_with(model: [:admin, content_block], data: { turbo: false }, local: true, builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |form| %>
        <%= form.govuk_error_summary order: %i[name description markdown]  %>

        <div data-controller='character-counter' data-character-counter-countdown-value='true'>
          <%= form.govuk_text_field :name, label: {text: "Name - this should be provided by the developers, it refers to part of the fixed pages"}, disabled: content_block&.id, 'data-character-counter-target': 'input', maxlength: '254', hint: {text: "<p>There are <strong data-character-counter-target='counter' ></strong> remaining characters in the name.</p>".html_safe} %>
        </div>

        <div data-controller='character-counter' data-character-counter-countdown-value='true'>
          <%= form.govuk_text_field :description, label: {text: "Description - where does this appear in the site ?"}, 'data-character-counter-target': 'input', maxlength: '254', hint: {text: "<p>There are <strong data-character-counter-target='counter' ></strong> remaining characters in the description.</p>".html_safe} %>
        </div>

        <!-- This text_area is not rendered with gov_text_field because it needs to
             set its own id, and the GOVUKDesignSystemFormBuilder hijacks it -->

        <% markdown_class = 'govuk-form-group--error' if @content_block.errors[:markdown].count > 0 %>
        <div class="govuk-form-group gem-c-govspeak govuk-form-group <%= markdown_class %>" id="content-block-markdown-field-error">
          <label id="markdown-hint" for="markdown-editor" class="govuk-label">
            Content - Markdown for the block
          </label>
          <% if @content_block&.errors[:markdown].count > 0 %>
            <span class="govuk-error-message"><%= @content_block.errors[:markdown][0] %></span>
          <% end %>
          <% text_area_class = (@content_block.errors[:markdown].count > 0) ? 'govuk-input govuk-input--error govuk-textarea' : 'govuk-input govuk-textarea' %>

          <div data-controller='character-counter' data-character-counter-countdown-value='true'>
            <%= form.text_area :markdown, id: 'markdown-editor', rows: 20, cols: 35, class: text_area_class, 'data-character-counter-target': 'input', maxlength: '30000' %>
          <p>There are <strong data-character-counter-target='counter' ></strong> remaining characters in the markdown.</p>
          </div>
        </div>
        <%= form.govuk_submit "Save" %>
      <% end %>

      <p class="govuk-body"><%= link_to "Cancel", admin_content_blocks_path %></p>
    </div>

    <div class="govuk-grid-column-one-half">
        <p class="govuk-heading-m">Preview</p>
        <div id='markdown-render' class='gem-c-govspeak'>
          <%= translate_markdown(@content_block.markdown) %>
        </div>
    </div>
  </div>
</div>
