<%= form_with(model: content_asset) do |form| %>
  <% if content_asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content_asset.errors.count, "error") %> prohibited this content_asset from being saved:</h2>

      <ul>
        <% content_asset.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.file_field :avatar %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
