<%= form_with(model: content_asset, local: true) do |form| %>
  <% if content_asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content_asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% content_asset.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="govuk-form-group">
    <%= form.label :title, :class => 'govuk-label' %>
    <%= form.text_field :title, :class => 'govuk-input govuk-!-width-three-quarters' %>
    <%= form.file_field :avatar %>
  </div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
    <%= form.submit('Submit', :class => "govuk-button") %>
</div>
</div>   

<% end %>

