<div class="nesting_level_<%= level %>">

  <div class="summary">
    <p class="govuk-heading-m">
      <%= page_to_render.title %>
      <span class="links">
        <%= link_to 'Versions', versions_content_page_path(page_to_render), { class: "govuk-link" } %>
        <% if !page_to_render.parent_id %>
          |<%= link_to 'Add a child page', new_content_page_path(:parent_id => page_to_render.id), { class: "govuk-link" } %>
        <% end %>
        <% if (page_to_render.is_published) %>
          | <%= link_to 'Preview', path_for_this_page(page_to_render), { class: "govuk-link", target: "_blank" } %>
        <% end %>
        <span><%= page_to_render.is_published ? "Published - " : "Unpublished - " %><%= page_to_render.content_page_versions.count %> draft<%= page_to_render.content_page_versions.count > 1 ? "s": ""%></span>
      </span>
    </p>
  </div>
  <div>
    <ul class="govuk-list">
      <% page_to_render.children.order_by_position.each_with_index do |child, index| %>
        <li>
          <%= render partial: 'details_for_a_single_page', locals: {page_to_render: child, level: level + 1} %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
