<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">About the page</h3>
        <%= form_with(model: content_page) do |form| %>
          <% if content_page.errors.any? %>
            <div id="error_explanation" class="govuk-error-message" >
              <h2><%= pluralize(content_page.errors.count, "error") %> prohibited this content_page from being saved:</h2>
              <ul>
                <% content_page.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <fieldset class="govuk-fieldset">

            <div class="govuk-form-group">
              <label class="govuk-label" for="title">
                <%= form.label :title %>
              </label>
              <%= form.text_field :title, :class => 'govuk-input govuk-!-width-three-quarters' %>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="subtitle">
                <%= form.label :subtitle %>
              </label>
              <%= form.text_area :subtitle, :rows => 5, :cols => 35 %>
            </div>

            <div class="govuk-form-group">
              <div id="markdown-hint" class="govuk-hint">
                Markdown
              </div>
              <%= form.text_area :markdown, :rows => 20, :cols => 35  %>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="seo">
                Search Engine Words
              </label>
              <%= form.text_field :seo, :class => 'govuk-input govuk-!-width-three-quarters' %>
            </div>

            <%= form.hidden_field :parent_id %>

            <div>
              <%= form.submit :class => "govuk-button"%>
            </div>

          </fieldset>

        <% end %>
      </div>

      <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-m">Preview</h3>
          </p>
          <p>
            <%= sanitize @md %>
          </p>
      </div>
    </div>
  </main>
</div>
