<%= form_with(model: content_page, local: true) do |form| %>
  <% if content_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content_page.errors.count, "error") %> prohibited this content_page from being saved:</h2>

      <ul>
        <% content_page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <%= form.label :markdown %>
    <%= form.text_field :markdown %>
  </div>

  <div class="field">
    <%= form.label :seo %>
    <%= form.text_field :seo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
