<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <p class="govuk-heading-m">Details</p>
      <%= form_with(model: content_page, local: true) do |form| %>
        <% if content_page.errors.any? %>
          <div id="error_explanation" class="govuk-error-message" >
            <h2><%= pluralize(content_page.errors.count, "error") %> prohibited this page from being saved:</h2>
            <ul>
              <% content_page.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <fieldset class="govuk-fieldset">

          <div class="govuk-form-group">
            <label class="govuk-label" for="Heading">
              <%= form.label :title, "Heading" %>
            </label>
            <%= form.text_field :title, :class => 'govuk-input govuk-!-width-three-quarters', :disabled => (@content_page.title && !@content_page.parent_id) %>
          </div>

          <div class="govuk-form-group gem-c-govspeak">
            <label id="markdown-hint" for="markdown-editor" class="govuk-hint">
              Content
            </label>
            <%= form.text_area :markdown, :id => 'markdown-editor', :rows => 20, :cols => 35,  :class => "govuk-textarea" %>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="position">
              Position (relative to sibling pages)
            </label>
            <%= form.text_field :position, :class => 'govuk-input govuk-!-width-three-quarters', id: "position" %>
          </div>

          <%= form.hidden_field :parent_id, id: "parent_id" %>

          <% if action_name === "edit" || action_name === "new" %>
            <div class="fixed-footer">
              <%= form.submit class: "govuk-button", value: "Publish" %>
              <button  class="govuk-button govuk-button--secondary" name="submit" value="Save as draft">Save as draft</button>
              <button  class="govuk-button govuk-button--secondary" name="submit" value="Preview">Preview</button>
              <%= link_to 'Cancel', content_pages_path, :data => {:confirm => "Are you sure you want to undo your changes ?", :class => "govuk-link"} %> |
              <%= link_to 'Back', content_pages_path %>
            </div>
          <% end %>

        </fieldset>

      <% end %>
    </div>

    <div class="govuk-grid-column-one-half">
        <p class="govuk-heading-m">Preview</p>
        <div id='markdown-render' class='gem-c-govspeak'>
          <%= sanitize(@md, tags: GovspeakToHTML::ALLOWED_TAGS) %>
        </div>
    </div>
  </div>
</div>
