  <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Draft</th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header">Author</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @content_page.content_page_versions.order_by_created_at.each do |version| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= version.title %></td>
          <td class="govuk-table__cell"><%= version.created_at.strftime("%d/%m/%Y %I:%M") %></td>
          <td class="govuk-table__cell govuk-!-width-one-third">
            <%= link_to 'Edit', edit_content_page_content_page_version_path(@content_page, version), { :class => "govuk-link" } %>
            <%= link_to 'Preview', preview_of_draft_content_page_content_page_version_path(@content_page, version), { :class => "govuk-link" } %>
            <%= link_to "Delete", content_page_content_page_version_path(@content_page, version), method: :delete, data: { confirm: "Are you certain you want to delete this version ? " + version.created_at.strftime('%d/%m/%Y %I:%M') } %>
          </td>
          <td class="govuk-table__cell govuk-!-width-one-fifth"><%= version.author %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
