<p id="notice"><%= notice %></p>

<h1>The Page</h1>

<p>This will be the list of content that can be presented on the site</p>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">

    <% @content_pages.each_with_index do |content_page, index| %>

      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-<%= index %>>">
            <%= content_page.title %>
          </span>
        </h2>
        <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-<%= index %>">
          <%= content_page.subtitle %>
        </div>
      </div>
      <div id="accordion-with-summary-sections-content-<%= index %>" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-<%= index %>">
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="#">Agile and government services: an introduction</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Agile methods: an introduction</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Core principles of agile</a>
          </li>
        </ul>
      </div>
  <% end %>
</div>
<br>

<%= link_to 'Add a new Page', new_content_page_path %>
