<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @content_page.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @content_page.subtitle %>
</p>

<p>
  <strong>Content (Govspeak):</strong>
  <%= @content_page.markdown %>
</p>

<p>
  <strong>SEO:</strong>
  <%= @content_page.seo %>
</p>

<%= link_to 'Edit', edit_content_page_path(@content_page) %> |
<%= link_to 'Back', content_pages_path %>
