<strong class="govuk-tag">
  Preview
</strong>
<% if @content_page_version.content_page.parent %>
  <span class="govuk-caption-l"><%= @content_page_version.content_page.parent.title %></span>
<% end %>
<h1 class="govuk-heading-l">
  <%= @content_page_version.title %>
</h1>
<%= translate_markdown(@content_page_version.markdown) %>

<div class="fixed-footer">
  <%= button_to "Publish", publish_admin_content_page_content_page_version_path(@content_page_version.content_page, @content_page_version), class: "govuk-button", data: { confirm: "Are you sure you want to publish this draft ?" } %>
  <%= link_to 'Back', versions_admin_content_page_path(@content_page_version.content_page) %>
</div>
