<% if @page.parent %>
  <span class="govuk-caption-l"><%= @page.parent.title %></span>
<% end %>

<h1 class="govuk-heading-l">
  <%= @page.title %>
</h1>

<%= translate_markdown(@page.intro) %>

<% unless @page.content_list.blank? %>
  <p id="contents-list-heading" class="govuk-body govuk-!-margin-bottom-1">
    Contents
  </p>
  <%= translate_markdown(@page.content_list) %>
<% end %>

<% if @page.content_list %>
  <%= print_button("govuk-!-margin-top-7") %>
<% end %>

<div class="govuk-!-margin-top-4">
  <%= translate_markdown(@page.markdown) %>
</div>
