<nav class="app-subnav--mobile app-mobile-nav js-app-mobile-nav" id="mobile-menu-nav" title="Mobile menu">
  <ul class="app-mobile-nav__list" aria-label="Navigation menu">
    <% ContentPage.top_level.published.order_by_position.each do |top_level_page| %>
      <li>
        <div class="learning-section-mobile-nav app-mobile-nav-subnav-toggler">
          <%= link_to(raw('<p class="app-subnav__theme ">' + top_level_page.title + '</p>'), path_for_this_page(top_level_page), class: "govuk-link govuk-link--no-visited-state app-mobile-nav-subnav-toggler__link js-mobile-nav-subnav-toggler") %>
        </div>
        <ul class="app-mobile-nav__list app-mobile-subnav-section app-mobile-nav__subnav <%= is_mobile_menu_section_current?(top_level_page) ? 'app-mobile-nav__subnav--active' : '' %>">
          <li class="app-mobile-nav__subnav-item <%= is_current?(top_level_page) ? 'app-mobile-nav__subnav-item--current' : '' %>">
            <%= link_to('Overview', path_for_this_page(top_level_page), aria: {label: "#{top_level_page.title} Overview"}, class: "govuk-link govuk-link--no-visited-state app-mobile-nav__link") %>
          </li>
          <% top_level_page.children.published.order_by_position.each do |child| %>
            <li class="app-mobile-nav__subnav-item <%= is_current?(child) ? 'app-mobile-nav__subnav-item--current' : '' %>">
              <%= link_to(child.title, path_for_this_page(child), class: "govuk-link govuk-link--no-visited-state app-mobile-nav__link") %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</nav>
