<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= canonical_tag %>
    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="govuk-template__body ">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <%= yield %>
  </body>
</html>
